extends pug/base

prepend vars
	//-

append vars
	- title = "Каталог курсов"

prepend styles
	link(rel="stylesheet" href!=`${baseDir}lib/vanilla-rangeslider/css/rangeslider.css"`)
	link(rel="stylesheet" href!=`${baseDir}lib/slim-select/slimselect.css"`)

prepend scripts
	script(src!=`${baseDir}lib/vanilla-rangeslider/js/rangeslider.min.js`)
	script(src!=`${baseDir}lib/slim-select/slimselect.min.js`)

append scripts
	script(src!=`${baseDir}js/filter.js`)
	script(src!=`${baseDir}js/sort-select.js`)

block content
	+breadcrumb(['Главная', 'Безопасность и охрана труда'], 'Охрана труда')

	.page.container
		h1.heading2.page__title Охрана труда
		.page__filter-layout
			.page__filter
				+filterCources()
			.page__content
				.page__content-top
					p.page__result-counter Найдено: 35 курсов
					select.sort-select
						option.sort-select__option(data-html="<svg class='sort-select__icon'><use xlink:href='#sort-asc'></use></svg> <span>По возрастанию цены</span>") По возрастанию цены
						option.sort-select__option(data-html="<svg class='sort-select__icon'><use xlink:href='#sort-desc'></use></svg> <span>По убыванию цены</span>") По убыванию цены
				.page__list
					+productCard([['ПП', 'blue']], 'Монтаж, техническое обслуживание и ремонт систем противопожарного водоснабжения и их элементов, включая диспетчеризацию и проведение пусконаладочных работ')
					+productCard([['ПП', 'blue']], 'Монтаж, техническое обслуживание и ремонт систем противопожарного водоснабжения и их элементов, включая диспетчеризацию и проведение пусконаладочных работ')
					+productCard([['ПП', 'blue']], 'Монтаж, техническое обслуживание и ремонт систем противопожарного водоснабжения и их элементов, включая диспетчеризацию и проведение пусконаладочных работ')
					+productCard([['ПП', 'blue']], 'Монтаж, техническое обслуживание и ремонт систем противопожарного водоснабжения и их элементов, включая диспетчеризацию и проведение пусконаладочных работ')
					+productCard([['ПП', 'blue']], 'Монтаж, техническое обслуживание и ремонт систем противопожарного водоснабжения и их элементов, включая диспетчеризацию и проведение пусконаладочных работ')
					+productCard([['ПП', 'blue']], 'Монтаж, техническое обслуживание и ремонт систем противопожарного водоснабжения и их элементов, включая диспетчеризацию и проведение пусконаладочных работ')
				button.button.button--gray.button--size-big.page__more-btn(type="button") Показать еще

